<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="pojo">
    <select id="select" resultType="User">
        SELECT
        *
        FROM
        stu
        <where>
            <if test="ID != null ">
                and ID = #{ID}
            </if>
            <if test="NAME != null and NAME != '' ">
                AND NAME LIKE concat('%', #{NAME}, '%')
            </if>
            <if test="AGE != null and AGE != '' ">
                AND AGE LIKE concat('%', #{AGE}, '%')
            </if>
            <if test="SEX != null and SEX != '' ">
                AND SEX LIKE concat('%', #{SEX}, '%')
            </if>
        </where>
        <if test="start!=null and count!=null">
            LIMIT #{start},#{count}
        </if>
    </select>

    <select id="count" resultType="Integer">
        SELECT
        COUNT(ID)
        FROM
        stu
    </select>

    <insert id="insert" parameterType="User">
        insert into
        stu
        <trim prefix="(" suffix=")" suffixOverrides="">
            <if test="ID != null and ID != ''">
                ID,
            </if>
            <if test="NAME != null and NAME != ''">
                NAME,
            </if>
            <if test="AGE != null and AGE != ''">
                AGE,
            </if>
            <if test="SEX != null and SEX != ''">
                SEX
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="ID != null and ID != ''">
                #{ID},
            </if>
            <if test="NAME != null and NAME != ''">
                #{NAME},
            </if>
            <if test="AGE != null and AGE != ''">
                #{AGE},
            </if>
            <if test="SEX != null and SEX != ''">
                #{SEX}
            </if>
        </trim>
    </insert>

    <delete id="delete" parameterType="User">
        delete
        from stu
        where
        ID= #{ID}
    </delete>

    <update id="update" parameterType="User">
        update
        stu
        <set>
            <if test="NAME != null and NAME != ''">
                NAME = #{NAME},
            </if>
            <if test="AGE != null and AGE != ''">
                AGE =#{AGE},
            </if>
            <if test="SEX != null and SEX != ''">
                SEX= #{SEX}
            </if>
        </set>
        where
        ID = #{ID}
    </update>

</mapper>
