<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="pojo">
    <select id="select" resultType="User">
       SELECT
       *
       FROM
       stu
    </select>

    <select id="count" resultType="Integer">
        SELECT
        COUNT (0) as ROW_COUNT
        FROM
        stu
    </select>

    <insert id="insert" parameterType="User">
        insert into stu (ID,NAME,AGE,SEX) values (#{ID},#{NAME },#{AGE},#{SEX});
    </insert>

    <delete id="delete" parameterType="User">
        delete from stu where ID= #{ID}
    </delete>

    <update id="update" parameterType="User">
        update stu set NAME =#{NAME } where ID=#{ID}
    </update>
</mapper>
